{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Log Out{% endblock title %}

{% block content %}
<br/>
<div class="mt-5" style="min-height: 60vh;">
    <br/>
<h3 class="d-flex  justify-content-center align-items-center">Are you sure you want to log out?</h3>
<form class="d-flex  justify-content-center align-items-center" method="POST" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-danger" type="submit">Log Out</button>
 <br/><br/>
</form>
<div class="d-flex  justify-content-center align-items-center">
    <a type="button" class=" btn btn-outline-success" href="{% url 'home' %}" >Go Back</a>
</div>

</div>


{% endblock %}