.main-photo {
    height: 550px;
    width: auto;
    margin-top: 25px;
    border-radius: 10%;

}
.some{
    display: flex;
    justify-content: center;
    align-items: center;
}
.some img {
    width: 100%; /* Image will shrink to fit the container */
    height: auto;
}