<footer class="navbar py-4 mt-5 bg-primary text-white" data-bs-theme="dark">
  <div class="container">
    <div class="row">

      <!-- Section 2: Quick Links -->
      <div class="col-md-4 mb-1">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <h4>
            <li class="nav-item mb-2">
    <a class="navbar-brand" href="/">Home Page</a>
          </li>
        </h4>
          <h4><li class="nav-item  mb-2"><a href="{% url 'about' %}" class="nav-link navbar-brand p-0">About</a></li></h4>
        </ul>
      </div>


    <!-- Bottom Copyright -->
    <div class="d-flex justify-content-between py-4 my-2 border-top">
      <p>&copy; 2026 To-Do-App, Inc. All rights reserved.</p>
    </div>
  </div>
  </div>
</footer>
