{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}

{% include 'navbar.html' %}

{% if user.is_authenticated %}

    <h2>Hello {{user}}</h2>
    <div class="inside-container">
        <!-- <a href="">Go to api lists</a> -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="my_btn" type="submit">Log Out</button>
          </form>
    </div>
{% else %}

    <br/>
    <a href="{% url 'login' %}">Log In</a>
    <br/><br/>
    <a href="{% url 'signup' %}">Sign Up</a>

{% endif %}




{% endblock %}